.main-header,
.d-page-header {
  padding-top: 52px;
  margin-bottom: 36px;
  text-align: center;
}

.main-logo--big,
.main-logo--img-only {
  display: none;
}

@media (min-width: $break-split-page) {
  .main-header {
    padding-top: 56px;
    margin-bottom: 83px;
    text-align: left;
  }

  .main-logo {
    display: none;
  }

  .d-page-header {
    display: block;
    position: absolute;
    top: 36px;
    left: 68px;
    padding: 0;
  }

  .main-logo--big,
  .main-logo--img-only {
    display: block;
  }
}

